#main {
	background-color: #222222;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;
}

#divMain {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
}

#img {
	margin-top: 5px;
	margin-bottom: 20px;
	border: 2px solid #E065B0;
	border-radius: 100px;
}

#headerAlbum {
	margin-bottom: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bolder;
	color: #DC355F;
}

#divTrackInfo {
	/* background-color: aqua; */
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
	/* border-radius: 2px solid rgb(207, 48, 48); */
	/* border: 5px solid #DC355F; */
	margin-bottom: 20px;
	border-radius: 20px;
}

.h3Album {
	color: #DC3545;
	font-weight: bolder;
	margin-left: 20px;
	margin-right: 20px;
}

#h3Id {
	margin-bottom: 20px;
}

