#main {
	background-color: #CD6CCA;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#divMain {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
}

#divTrackInfo {
	/* background-color: aqua; */
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
	/* border-radius: 2px solid rgb(207, 48, 48); */
	border: 5px solid #DC355F;
	margin-bottom: 20px;
	border-radius: 20px;
}

#header {
	margin-bottom: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bolder;
	color: #DC355F;
}

