#footer {
	background-color: black;
	display: flex;
	height: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
	background-repeat: no-repeat;
}

#h1Desenvolvido {
	margin-top: 20px;
	margin-bottom: 5px;
	color: white;
}

#h1Name {
	color: white;
	margin-bottom: 10px;
}
